---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: workloadpolicyproposals.security.rancher.io
spec:
  group: security.rancher.io
  names:
    kind: WorkloadPolicyProposal
    listKind: WorkloadPolicyProposalList
    plural: workloadpolicyproposals
    singular: workloadpolicyproposal
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WorkloadPolicyProposal is the Schema for the workloadpolicyproposals
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WorkloadPolicyProposalSpec defines the desired state of WorkloadPolicyProposal.
            properties:
              rulesByContainer:
                additionalProperties:
                  properties:
                    executables:
                      description: executables defines a security policy used for
                        executables.
                      properties:
                        allowed:
                          description: allowed defines a list of executables that
                            are allowed to run
                          items:
                            type: string
                          type: array
                        allowedPrefixes:
                          description: allowedPrefixes defines a list of prefix with
                            which executables are allowed to run
                          items:
                            type: string
                          maxItems: 0
                          type: array
                      type: object
                  type: object
                description: rulesByContainer specifies the rules this policy contains,
                  per-container.
                type: object
            type: object
          status:
            description: WorkloadPolicyProposalStatus defines the observed state of
              WorkloadPolicyProposal.
            properties:
              conditions:
                items:
                  properties:
                    lastProbeTime:
                      description: lastProbeTime is the time we probed the condition.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: lastTransitionTime is the time the condition transitioned
                        from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: message is the human-readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: |-
                        reason is a unique, this should be a short, machine understandable string that gives the reason
                        for condition's last transition. If it reports "ResizeStarted" that means the underlying
                        persistent volume is being resized.
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
