---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    helm.sh/resource-policy: keep
    controller-gen.kubebuilder.io/version: v0.17.1
  name: workloadpolicies.security.rancher.io
spec:
  group: security.rancher.io
  names:
    kind: WorkloadPolicy
    listKind: WorkloadPolicyList
    plural: workloadpolicies
    singular: workloadpolicy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.mode
      name: Mode
      type: string
    - jsonPath: .status.phase
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WorkloadPolicy is the Schema for the workloadpolicies API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              mode:
                description: |-
                  mode defines the execution mode of this policy. Can be set to
                  either "protect" or "monitor". In "protect" mode, the policy
                  blocks and reports violations, while in "monitor" mode,
                  it only reports violations.
                enum:
                - monitor
                - protect
                type: string
              rulesByContainer:
                additionalProperties:
                  properties:
                    executables:
                      description: executables defines a security policy for executables.
                      properties:
                        allowed:
                          description: allowed defines a list of executables that
                            are allowed to run
                          items:
                            type: string
                          type: array
                      type: object
                  type: object
                description: rulesByContainer specifies for each container the list
                  of rules to apply.
                type: object
            required:
            - mode
            type: object
          status:
            properties:
              failedNodes:
                description: failedNodes is the number of nodes where the policy enforcement
                  failed.
                type: integer
              nodesTransitioning:
                description: nodesTransitioning contains the names of the nodes that
                  are transitioning.
                items:
                  type: string
                type: array
              nodesWithIssues:
                additionalProperties:
                  description: NodeIssue represents an issue with a node.
                  properties:
                    code:
                      description: code is the issue code.
                      type: string
                    message:
                      description: message is a human-readable description of the
                        issue.
                      type: string
                  type: object
                description: nodesWithIssues contains the status of each node with
                  issues.
                type: object
              observedGeneration:
                format: int64
                type: integer
              phase:
                description: phase indicates the current phase of the workload policy.
                type: string
              successfulNodes:
                description: successfulNodes is the number of nodes where the policy
                  is successfully enforced.
                type: integer
              totalNodes:
                description: totalNodes is the total number of nodes the policy is
                  applied to.
                type: integer
              transitioningNodes:
                description: transitioningNodes is the number of nodes where the policy
                  is transitioning mode.
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
